<!DOCTYPE html>
<html>
    <head>
        <title>HomePage</title>
    </head>
    <% if (test) { %>
        <body style="background-color: green;">
            <h1 style="text-align: center;">DB is working</h1>
            <h3 style="text-align: center;"><a href="/Index">Personal Budget Click Here</a></h3>
        </body>
     <% }else{ %>
        <body style="background-color: red;">
         <h1 style="text-align: center;">DB is down</h1>
        </body>
     <% } %> 
</html>